# Python
__pycache__/
*.py[cod]

# Env
venv/
rag_env/

# System
.DS_Store

# IDE
.vscode/

# Vector store
vector_store/embeddings.npy

# Outputs
outputs/*
!outputs/evaluation_report.md
!outputs/evaluation_results.json

# Logs
*.log